<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <!--
        <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false&key=AIzaSyBSsKUzYG_Wz7u2qL6unHqfBOmvaZ0H1Mg&callback=initMap">
</script>
-->
    <link href="css/style.css" rel="stylesheet">
    <title>Live Code 1 - Event </title>


  </head>

  <body>
  <div id="app"> 
    <!-- Navigation -->
    <div class="navbar bg-dark fixed-top">
      <div class="container">
        <button class="navbar-brand" v-on:click="getalleventt()">Livecode 1</button>
        <div id="loginmessage"></div>
        <div class="header-right">
          <div v-if = "token === '' || token === null">
              <input type="text" v-model="loginemail" placeholder="email">
              <input type="password" v-model="loginpassword" placeholder="password">
              <button v-on:click="userlogin()">Login</button>
          </div>
          <div v-if = "token !== '' && token !== null">
              <button v-on:click="userlogout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3" v-if = "token !== '' && token !== null" >
          <h4>Add new Event</h4>
          <div class="list-group">
            <form>
              <div class="form-group">
                <input type="text" v-model= "eventname" class="form-control" placeholder="Event">
              </div>
              <div class="form-group">
                <input type="text" v-model="eventlocation" class="form-control" placeholder="Location">
              </div>
              <div class="form-group">
                <input type="text" v-model="eventaddress" class="form-control" placeholder="Address">
              </div>
            </form>
            <button v-on:click= "makeneweventt()">Make new event</button>
          </div>
          <hr>
          <h4>Search</h4>
          <div class="list-group">
            <form>
              <div class="form-group">
                <input type="text" v-model="keyword" class="form-control" placeholder="Search...">
              </div>
            </form>
            <button v-on:click= "searcheventt()" >Search</button>
          </div>
          <hr>
          <h4>Maps</h4>
          <div id="map">

          </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
          <div class="row">
            <!-- list start here -->
            <div class="col-lg-4 col-sm-6 portfolio-item" v-for="eventdetail in listevents">
              <div class="card h-70">
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">{{ eventdetail.name}}</a>
                  </h4>
                  <div>{{ eventdetail.location }}</div>
                  <div>{{ eventdetail.address}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>  
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>  
    <script>
      let app = new Vue({
        el: '#app',
        data: {
          listevents: [],
          token: '',
          loginemail: '',
          loginpassword: '',
          eventname: '',
          eventlocation: '',
          eventaddress: '',
          keyword: '',
          errormessage: '',
          successmessage: ''
        },
        methods: {
          // user login
          userlogin(){
            let self = this
            axios({
              method: 'POST',
              url: 'http://localhost:3000/users/login',
              data: {
                email: self.loginemail,
                password: self.loginpassword
              }
            })
             .then(user => {
               self.token = user.data.token
               localStorage.setItem('token', self.token)

               // give success message 
               $('#loginmessage').empty()
               $('#loginmessage').append(
                    `<button type="button" class="btn btn-success">
                      Success Login</button>`
                 )
               setTimeout( ()=>{
                 $('#loginmessage').empty()
               },3000)
             })
             .catch(error => {
               console.log('ERROR Login ',error)
               // give Error message 
               $('#loginmessage').empty()
               $('#loginmessage').append(
                    `<button type="button" class="btn btn-danger">
                        Login failed, Please Check your email/password</button>`
                 )
               setTimeout( ()=>{
                 $('#loginmessage').empty()
               },3000)
             })
          },
          // user logout
          userlogout () {
            this.token = ''
            localStorage.removeItem('token')
          },
          // create new event
          makeneweventt(){
            let self = this
            axios({
              method: 'POST',
              url: 'http://localhost:3000/events',
              headers: {
                token: self.token
              },
              data :{
                name: self.eventname,
                location: self.eventlocation,
                address: self.eventaddress
              }
            })
              .then(event =>{
                  // update list of events
                  axios({
                    method: 'GET',
                    url: 'http://localhost:3000/events'
                  })
                    .then(eventsupdates =>{
                      self.listevents = eventsupdates.data
                    })
                    .catch(error =>{
                      console.log('ERROR Get list events ',error)
                    })
              })
              .catch(error =>{
                console.log('ERROR Create Event ', error)
              })
          },
          // search event by keyword
          searcheventt() {
            let self = this
             axios({
               method: 'GET',
               url: `http://localhost:3000/events/search/${self.keyword}`,
               headers:{
                 token: self.token
               }
             })
               .then(searchevent => {
                //  console.log('Hasil Search-------', searchevent.data)
                self.listevents = searchevent.data
               })
               .catch(error =>{
                 console.log('ERROR Search Event ',error)
               }) 
          },
          // get all events
          getalleventt () {
            let self = this
            axios({
              method: 'GET',
              url: 'http://localhost:3000/events'
            })
              .then(events =>{
                self.listevents = events.data
              })
              .catch(error =>{
                console.log('ERROR Get list events ',error)
              })
          }
        },
        created () {
          let self = this
          axios({
            method: 'GET',
            url: 'http://localhost:3000/events'
          })
            .then(events =>{
               self.listevents = events.data
            })
            .catch(error =>{
               console.log('ERROR Get list events ',error)
            })
        }
      })  
    </script>
    <!--
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        var uluru = {lat: -6.205642, lng: 106.845101};
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 4, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});
      }
    </script>
    -->
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <!--
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtELsqCngdBEcXv_PhmNOOVun2roiGyc8&callback=initMap">
    </script>
    -->
  </body>

</html>
