<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="css/style.css" rel="stylesheet">
    <title>Live Code 1 - Event </title>


  </head>

  <body>
  <div id="app"> 
    <!-- Navigation -->
    <div class="navbar bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Livecode 1</a>
        <div class="header-right">
          <div v-if = "token === '' || token === null">
              <input type="text" v-model="loginemail" placeholder="email">
              <input type="password" v-model="loginpassword" placeholder="password">
              <button v-on:click="userlogin()">Login</button>
          </div>
          <div v-if = "token !== '' && token !== null">
              <button v-on:click="userlogout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h4>Add new Event</h4>
          <div class="list-group">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Event">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Location">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Address">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
          <hr>
          <h4>Search</h4>
          <div class="list-group">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search...">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
          <hr>
          <h4>Maps</h4>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
          <div class="row">
            <!-- list start here -->
            <div class="col-lg-4 col-sm-6 portfolio-item" v-for="eventdetail in listevents">
              <div class="card h-70">
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">{{ eventdetail.name}}</a>
                  </h4>
                  <div>{{ eventdetail.location }}</div>
                  <div>{{ eventdetail.address}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>  
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>  
    <script>
      let app = new Vue({
        el: '#app',
        data: {
          listevents: [],
          token: '',
          loginemail: '',
          loginpassword: '',
          eventname: '',
          eventlocation: '',
          eventaddress: '',
          keyword: '',
          errormessage: '',
          successmessage: ''
        },
        methods: {
          userlogin(){
            let self = this
            // console.log('let login-------------')
            // console.log('Email-----', self.loginemail)
            // console.log('password-----', self.loginpassword)
            axios({
              method: 'POST',
              url: 'http://localhost:3000/users/login',
              data: {
                email: self.loginemail,
                password: self.loginpassword
              }
            })
             .then(user => {
              //  console.log('User TOken -----', user.data.token)
               self.token = user.data.token
               localStorage.setItem('token', self.token)
             })
             .catch(error => {
               console.log('ERROR Login ',error)
             })
          },
          userlogout () {
            this.token = ''
            localStorage.removeItem('token')
          }
        },
        created () {
          let self = this
          axios({
            method: 'GET',
            url: 'http://localhost:3000/events'
          })
            .then(events =>{
               self.listevents = events.data
            })
            .catch(error =>{
               console.log('ERROR Get list events ',error)
            })
        }
      })
    </script>
  </body>

</html>
